<ul class="collection with-header collapsible overflow-visible" data-collapsible="accordion">
  <li class="collection-header">
    <h4><i class="material-icons"><%=icon_type%></i> <%=title%></h4>
  </li>
  <% curr_date = 0 %>
  <% tasks.each do |task| %>

  <% if( title=="Due" && curr_date != task.due_date )  %>
  <% (dday = (Date.today - task.due_date).to_i) %>

  <li >
    <div class="collapsible-header dday" >
      <div class="col s2 m2 dday-header center-align" >
        <% if( dday > 0 ) %>
          <%= "D+#{(Date.today - task.due_date).to_i}" %>
        <% elsif( dday ==0 ) %>
          <%= "D-day" %>
        <% else %>
          <%= "D#{(Date.today - task.due_date).to_i}" %>
        <% end %>
      </div>
      <div class="col s10 m10 gauge" data-dday="<%= (task.due_date-Date.today).to_i %>" >&nbsp;</div>

    </div>

  </li>
    <% curr_date  = task.due_date %>
  <% end %>

  <li >
    <div class="collapsible-header">
      <%= pretty_title(task.title) %>
      <span class="badge left">
      <% if( task.has_subpoint? )%>
        <%= task.total_completed_subpoint %> / <%= task.total_subpoint %>
      <% elsif task.point %>
        <%= render 'dropdown', deco_task: task, parent_task: nil, which: "task", title: title %>
      <% end %>
      </span>
    </div>

    <% if( task.has_subpoint? ) %>
    <div class="collapsible-body sub-collection-container">
      <ul class="collection sub-collection overflow-visible">
        <% task.subtasks.each do |subtask| %>
          <li class="collapsible-header " >
            <% if(subtask.completed_at) %>
            <span class="grey-text">
              <strike >
                <%= pretty_title(subtask.title) %>
              </strike>
            </span>
            <% else %>
              <%= pretty_title(subtask.title) %>
            <% end %>
            <span class="badge left">
              <% if subtask.point %>
                <%= render 'dropdown', deco_task: subtask, parent_task: task, which: "subtask", title: title %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </li>
  <% end %>
</ul>

