<div class="row">
  <div id="reportVis" data-todo-done="<%= @tasks_done_summary_json %>">
  </div>
</div>
<div class="row">
  <div class="col l6 m6 s12">
    <ul class="collection with-header collapsible" data-collapsible="accordion">
      <li class="collection-header">
        <h4><i class="material-icons">list</i> Todo</h4>
      </li>
      <% @tasks_todo.each do |task| %>
      <li >
        <div class="collapsible-header"><%= task.title %>
          <span class="badge"><%= task.point %></span>
        </div>
        <div class="collapsible-body">
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col m6 s12">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4><i class="material-icons">done</i> Done</h4>
      </li>
      <% @tasks_done.each do |task| %>
      <li class="collection-item">
        <div><%= task.title %>
          <span class="badge"><%= task.point %></span>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>




