<div class="row">
  <div id="reportVis" data-todo-done="<%= @tasks_done_summary_json %>">
  </div>
</div>
<div class="row">
  <div class="col l6 m6 s12">
    <%= render "tasks", title: "Todo", type: "list", tasks: @tasks_todo %>
  </div>
  <div class="col l6 m6 s12">
    <%= render "tasks", title: "Due", type: "alarm_on", tasks: @tasks_due %>
  </div>
  <div class="col l12 m12 s12">
    <%= render "tasks", title: "Done", type: "done_all", tasks: @tasks_done %>
  </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to report_path, :method => :get, class: "btn-floating btn-large red" do %>
      <i class="large material-icons">loop</i>
  <% end %>
  <ul>
    <li>
      <%= link_to logout_path, :method => :get, class: "btn-floating red" do %>
      <i class="material-icons">power_settings_new</i></i>
      <% end %>
    </li>
  </ul>
</div>



